*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  html,body{
    width:100%;
    height:100%;
    
  }

.recipe{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #281bdf;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 18px; */
    color: black;
  }
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
* {
    outline: 2px solid red;
  }
  